@model MVCQLCHTHUOC.Models.MedicineDTO

<div class="container mt-3" style="max-width: 1000px;">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">@Model.Name</h3>
            <img src="~/Upload/Medicine/@Model.ImgURl" class="card-img-top" alt="Product Image" style="width: 100%; height: 300px; object-fit: cover;">
            <p class="card-text mt-3">@Model.Description</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mã số thuốc: @Model.Id</li>
                <li class="list-group-item">Giá bán: @Model.Price</li>
                <li class="list-group-item">Số lượng: @Model.Stock</li>
            </ul>
            <div class="text-center mt-3">
                <a asp-controller="Medicine" asp-action="EditMedicine" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="Medicine" asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
</div>
